#header{
    height: 50px;
}
#footer{
    height: 50px;
    text-align: center;
    padding: 15px;
}
.menu{
    width: 250px;
    margin: 0 auto;
}
.content{
    text-align: justify;
}
.btn_edit{
    text-align: right;
}
.content_edit{
    width: 100%;
}
.pagination{
    text-align: center;
}